*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}
.container{
    width: 40rem;
    margin: 2rem auto;
    letter-spacing: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
 
}
input{
 padding: 1rem;
 border-radius: 10px;
 box-shadow: 3px 3px 5px greenyellow;
}
textarea{
    resize: none;
    height: 20%;
    font-size: 1.2rem;
    border-radius: 20px;
     box-shadow: 3px 3px 5px greenyellow;
}
button{
    background-color: aqua;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;

   
}
button:hover{
    background-color: chartreuse;
     box-shadow: 3px 3px 5px greenyellow;
}
























